.Grass { background-color: #48d0b0; }
.Fire { background-color: #fb6c6c; }
.Water { background-color: #76bdfe; }
.Electric { background-color: #ffd86f; }
.Bug { background-color: #37c472; }
.Normal { background-color: #acacac; }