.grass { background-color: #48d0b0; }
.fire { background-color: #fb6c6c; }
.water { background-color: #76bdfe; }
.electric { background-color: #ffd86f; }
.bug { background-color: #37c472; }
.normal { background-color: #acacac; }
.steel { background-color: #868686; }
.poison { background-color: #7c39c9; }
.flying { background-color: #83bcd3; }
.fairy { background-color: #ff7df8; }
.psychic { background-color: #a315a3; }
.ghost { background-color: #7905a7; }
.dragon { background-color: #c2a958; }
.ice { background-color: #4ce0e6; }
.dark { background-color: #5a5a5a; }
.ground { background-color: #8d7635; }
.rock { background-color: #c9b889; }
.fighting { background-color: #b42430; }